/*Default css for pages */
* { 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background-color: #0a192f;
    background-size: cover;
    background-position: center;
}


/*HEADER and Navbar*/
a{
    float: left;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

/*Dlogo and its animations/effects*/
.dLogo {
    width: 7em;
    margin-top: .5rem;
    margin-left: -2rem;
    float: left;
    animation: rotateAnimation 700ms ease-in alternate-reverse;
}


header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
   padding: 20px;
   width: 10px;
   height: 10px;
}

.navbar a{
    font-size: 1rem;
    font-weight:700;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.h--li {
    list-style: none;
    position: relative; /* Add position: relative */
    cursor: pointer;
    transition: color 0.3s ease-in-out; /* Add a transition for color change */
}

.h--li::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust the position of the underline */
    right: 0;
    width: 80%;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #fdfd96; /* Initial underline color */
    transform-origin: center;
    transform: scaleX(0); /* Start with no underline width */
    transition: transform 0.3s ease-in-out; /* Add a transition for the underline animation */
    
}

.h--li:hover {
    color: #fdfd96;
    animation: slideAnimation 700ms ease-in-out infinite alternate; /* Apply the animation */
}

.h--li:hover::after {
    transform: scaleX(1); /* Expand the underline width on hover */
    background-color: #fdfd96; /* Change the underline color on hover */
}

.about:hover, .hobby:hover, .project:hover {
    color: #fdfd96;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Action Button CSS*/
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    transition-duration: 700ms;
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}




/*Dropdown Menu*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transform: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/*Subtitle for page*/
.page_subt{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: .2rem;
    padding: 3rem 0 1rem 0;
    bottom:2vh;
    margin-bottom: 3.5rem;
    font-size: 1.7rem;
    font-weight: 1000;
    color:white;
}

.page_subt::after {
    content: '';
    position: absolute;
    top: calc(100% + .5rem);
    height: 5px;
    width: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: orange;
}





/* About Div Content */
#content {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto auto auto;
    top: 15vh;
    padding: 6rem 0 10rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: lightslategray;
}

#content p {
    position: inherit;
    margin-bottom: 2rem;
}

.a__b{
    color: #9DB2BF; 
}

.a__b:hover{
    color: bisque;
    cursor:default;
    transition: linear 400ms;
}





/*Hero*/
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1{
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    margin-bottom: 1rem;

}


/*WE LEFT OFF HERE!!!!!!!*/
.vert_li{
    padding-bottom: .5rem;
    
}

/*planning on adding styles to these icons 
to make it look more simple but icons large enough
to notice*/
.icon_style.fa-linkedin,
.icon_style.fa-slack,
.icon_style.fa-envelope,
.icon_style.fa-phone {
    
}   













/*Responsive Design with media query*/
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width:unset;
    }
}

/* Media Queries for Responsive Text */
@media (min-width: 319px) and (max-width: 767px) {
    #page_subt{
        font-size: 1.4rem;
    }
    #content {
        top: 0;
        padding: 5rem; /* Adjust padding for smaller screens */
    }

    #content p {
        font-size: 7vw; /* Adjust paragraph font size for smaller screens */
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    #content { 
        top: 0;
        padding: 8rem; /* Adjust padding for medium-sized screens */
    }

    #content p {
        font-size: 1.4rem;
        padding: 1.2rem 6rem;
    }
}

@media (min-width: 1441px) and (max-width: 2561px) {

    
    #content { 
        margin-top: 10vh auto auto;
        top: 0;
        padding: 6rem; /* Adjust padding for larger screens */
    }

    
    #content p {
        font-size: 1.2vw;
        padding: 0 6rem;
    }
}


/* Apply the Animation to li Elements */
@keyframes slideAnimation {
    from {
        transform: translatey(0px); /*start index 0*/
    }
    to {
        transform: translatey(5px); /*end 5 pixels away*/
    }
    
}

/*Keyframe for Dlogo*/
@keyframes rotateAnimation {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}